{% extends "layout.html" %}
  
{% block body %}
    
<h4>Viestit</h4>
<form method="GET" action="{{ url_for('thread_creationForm') }}">
    <input type="submit" value="Kirjoita uusi viesti"/>
</form>
<ul>
    {% for message in messages %}
    <li>
        <a href="{{ url_for('message_details', message_id=message.id) }}">{{ message.title }}</a>
        käyttäjältä <b> {{ message.sender.username }} </b>,
        lähetetty {{ message.time_of_sending }}
    </li>
    {% endfor %}
</ul>
   
{% endblock %}