{% extends "layout.html" %}
  
{% block body %}

<h4>{{ message.title }}</h4>
<p><em>Käyttäjältä <b>{{ message.sender.username }}</b>, lähetetty: {{ message.timeOfSending.strftime('%d %b %y %I:%M') }}</em></p>
<form method="POST" action="{{ url_for('messages_delete', message_id=message.id) }}">
    <input type="submit" value="Poista viesti"/>
</form>
<form method="GET" action="{{ url_for('messages_editingForm', message_id=message.id) }}">
    <input type="submit" value="Muokkaa viestiä"/>
</form>


<p>{{ message.content }} </p>

{% endblock %}