{% extends "layout.html" %}
  
{% block body %}

<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="row">{{ message.title }}</th>
          <th scope="row"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Käyttäjältä: <b>{{ message.sender.username }}</b></td>
            <td>Lähetetty: {{ message.time_of_sending.strftime('%d.%m %Y klo %I:%M') }}</td>
        </tr>
        {% if (current_user.id == message.author_id) or (current_user.is_admin == True) %}
        <tr>
            <td>
                <a href="{{ url_for('messages_edit_form', message_id=message.id) }}">Muokkaa viestiä</a>
            </td>
            <td>
                <a href="{{ url_for('messages_delete', message_id=message.id) }}">Poista viesti</a>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                {{ message.content }}
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}