{% extends "layout.html" %}
  
{% block body %}

<h4>{{ message.title }}</h4>
<p><em>Käyttäjältä <b>{{ message.sender.username }}</b>, lähetetty: {{ message.time_of_sending.strftime('%d.%m %Y klo %I:%M') }}</em></p>

{% if current_user.id == message.author_id %}
    <a href="{{ url_for('messages_editingForm', message_id=message.id) }}">Muokkaa viestiä</a><br>
    <a href="{{ url_for('messages_delete', message_id=message.id) }}">Poista viesti</a>
{% endif %}

<br></br>

<p>{{ message.content }} </p>

{% endblock %}