{% extends "layout.html" %}
  
{% block body %}
    
<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="row">Tilastoja</th>
          <th scope="row"></th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td><b>Käyttäjät</b></td>
      </tr>
      <tr>
        <td>Käyttäjiä</td>
        <td>{{ number_of_users }}</td>
      </tr>
      <tr>
        <td>Aktiivisia käyttäjiä (kirjoittanut ainakin yhden viestin)</td>
        <td>{{ number_of_posters }}</td>
      </tr>
      <tr>
        <td><b>Viestit</b></td>
      </tr>
      <tr>
        <td>Viestejä</td>
        <td>{{ number_of_messages }}</td>
      </tr>
      <tr>
        <td>Keskusteluketjuja</td>
        <td>{{ number_of_threads }}</td>
      </tr>
    </tbody>
  </table>

{% endblock %}