{% extends "layout.html" %}
  
{% block body %}
    
<a href="{{ url_for('thread_opening_form') }}">Aloita uusi keskusteluketju</a>
<br></br>

<p>Suodata aihepiirin mukaan:</p>
<table class="table">
  <tbody>
    <tr>
      <td>
        <a href="{{ url_for('thread_list') }}">KAIKKI</a>
      </td>
      {% for topic in topics %}
      <td>
        <a href="{{ url_for('threads_by_topic', topic_id=topic.id) }}">{{ topic.name }}</a>
      </td>
      {% endfor %}
    </tr>
  </tbody>
</table>

<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="row">Keskusteluketjut</th>
          <th scope="row">Aloittaja</th>
          <th scope="row">Aihepiirit</th>
          <th scope="row">Aloitettu</th>
          <th scope="row">Viestejä</th>
        </tr>
      </thead>
    <tbody class="table table-striped">
        {% for thread in threads %}
        <tr>
            <td><a href="{{ url_for('thread_details', thread_id=thread.id) }}">{{ thread.title }}</a></td>
            <td>{{ thread.opener.username }}</td>
            <td>
              {% for topic in thread.topics %}
              {{ topic.name }}, 
              {% endfor %}
            </td>
            <td>{{ thread.time_of_opening.strftime('%d.%m %Y klo %I:%M') }}</td>
            <td>{{ thread.total_number_of_messages(thread.id)}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}