{% extends "layout.html" %}
  
{% block body %}

<h4>{{ thread.title }}, yhteensä {{ thread.totalNumberOfMessages(thread.id)}} viestiä</h4>
<p>
  Aihepiirit: 
  {% for topic in thread.topics %}
  {{ topic.name }} 
  {% endfor %}
</p>
<a href="{{ url_for('thread_responseForm', thread_id=thread.id) }}">Vastaa tähän keskusteluketjuun</a>
<br></br>
<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="row">Otsikko</th>
          <th scope="row">Lähettäjä</th>
          <th scope="row">Lähetetty</th>
          <th scope="row"></th>
          <th scope="row"></th>
        </tr>
      </thead>
    <tbody>
        {% for message in thread.messages %}
        <tr>
            <td>
              <a href="{{ url_for('message_details', message_id=message.id) }}"><b>{{ message.title }}</b></a>
            </td>
            <td>
              <b>{{ message.sender.username }}</b>
            </td>
            <td>
              <b>{{ message.time_of_sending.strftime('%d.%m %Y klo %I:%M') }}</b>
            </td>
            <td>
              {% if (current_user.id == message.author_id) or (current_user.is_admin == True) %}
              <a href="{{ url_for('messages_editingForm', message_id=message.id) }}">muokkaa</a>
              {% endif %}
            </td>
            <td>
              {% if (current_user.id == message.author_id) or (current_user.is_admin == True) %}
              <a href="{{ url_for('messages_delete', message_id=message.id) }}">poista</a>
              {% endif %}
            </td>
            
        </tr>
        <tr>
          <td>
            {{ message.content }}
          </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}