{% extends "layout.html" %}
  
{% block body %}
    
<a href="{{ url_for('thread_openingForm') }}">Aloita uusi keskusteluketju</a>
<br></br>

<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="row">Keskusteluketjut</th>
          <th scope="row">Aloittaja</th>
          <th scope="row">Aloitettu</th>
          <th scope="row">Viestejä</th>
        </tr>
      </thead>
    <tbody>
        {% for thread in threads %}
        <tr>
            <td><a href="{{ url_for('thread_details', thread_id=thread.id) }}">{{ thread.title }}</a></td>
            <td>{{ thread.opener.username }}</td>
            <td>{{ thread.time_of_opening.strftime('%d %b %y %I:%M') }}</td>
            <td>{{ thread.totalNumberOfMessages(thread.id)}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}