{% extends "layout.html" %}
  
{% block body %}

<form method="POST" action="{{ url_for('thread_create') }}">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="row">Aloita uusi keskustelu</th>
                <th scope="row"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ form.title.label }}</td>
                <td>{{ form.title }}</td>
                <td>
                    <ul>
                      {% for error in form.title.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>{{ form.content.label }}</td>
                <td>{{ form.content(rows='10',cols='100') }}</td>
                <td>
                    <ul>
                      {% for error in form.content.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Aiheet joihin viesti liittyy:</td>
                <td>
                    {% for topic in topics %}
                    <input type="checkbox" id="{topic}" name="choices" value="{{topic.id}}">
                    <label for="{topic}">{{ topic.name }} </label><br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Lähetä"/>
                </td>
            </tr>
        </tbody>
    </table>
</form>

{% endblock %}