{% extends "layout.html" %}
  
{% block body %}
    
<h3>Keskustelut</h3>
<form method="GET" action="{{ url_for('thread_openingForm') }}">
    <input type="submit" value="Aloita uusi keskusteluketju"/>
</form>
<ul>
    {% for thread in threads %}
    <li>
        <a href="{{ url_for('thread_details', thread_id=thread.id) }}">{{ thread.title }}</a>,
        aloittanut <b> {{ thread.opener.username }} </b>
        {{ thread.time_of_opening.strftime('%d %b %y %I:%M') }}, 
        viestejä {{ thread.totalNumberOfMessages(thread.id)}}
    </li>
    {% endfor %}
</ul>
   
{% endblock %}