{% extends "layout.html" %}
  
{% block body %}

{% if current_user.is_admin == True %}
<a href="{{ url_for('topic_creation_form') }}">Luo uusi aihe</a>
<br></br>

<p>Huomioi: aihepiirin poistaminen poistaa kaikki keskusteluketjut, jotka on merkitty käsittelemään kyseistä aihetta, joten tuhoa harkiten!</p>

{% endif %}

<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="row">Aihepiirit</th>
          <th scope="row"></th>
        </tr>
      </thead>
    <tbody>
        {% for topic in topics %}
        <tr>
            <td>
              {{ topic.name }}
            </td>
            <td>
              {% if current_user.is_admin == True %}
              <a href="{{ url_for('topics_delete', topic_id=topic.id) }}">poista</a>
              {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock %}