{% extends "layout.html" %}
  
{% block body %}

<a href="{{ url_for('users_creationForm') }}">Lisää uusi käyttäjä</a>
<br></br>

<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="row">Käyttäjänimi</th>
          <th scope="row">Ylläpitäjän oikeudet</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                <a href="{{ url_for('user_details', user_id=user.id) }}">{{ user.username }}</a>
            </td>
            <td>
                {% if user.is_admin == True %}
                kyllä
                {% endif %}
                {% if user.is_admin == False %}
                ei
                {% endif %}
            </td>
            <td>
                {% if user.is_admin == True %}
                    <a href="{{ url_for('user_change_admin_status', user_id=user.id) }}">ota ylläpito-oikeudet pois</a>
                {% endif %}
                {% if user.is_admin == False %}
                    <a href="{{ url_for('user_change_admin_status', user_id=user.id) }}">tee käyttäjästä ylläpitäjä</a>
                {% endif %}
            </td>
            <td>
                {% if current_user.is_admin == True %}
                    <a href="{{ url_for('users_delete', user_id=user.id) }}">poista käyttäjätunnus</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}}