{% extends "layout.html" %}
  
{% block body %}

<h4>{{ user.username }}</h4>
<p>
    Liittynyt: {{ user.joined.strftime('%d.%m.%Y') }}
</p>
<p>
    Viestejä: {{ user.totalNumberOfMessages(user.id) }}
</p>
<p>
    Ylläpitäjän oikeudet: 
    {% if user.is_admin == True %} kyllä
        <form method="POST" action="{{ url_for('user_change_admin_status', user_id=user.id) }}">
            <input type="submit" value="Ota ylläpito-oikeudet pois" />
        </form>
    {% endif %}
    {% if user.is_admin == False %} ei 
        <form method="POST" action="{{ url_for('user_change_admin_status', user_id=user.id) }}">
            <input type="submit" value="Tee käyttäjästä ylläpitäjä" />
        </form>
    {% endif %}
    {% if user.is_admin == True %} 
        <form method="POST" action="{{ url_for('users_delete', user_id=user.id) }}">
            <input type="submit" value="Poista käyttäjätunnus" />
        </form>
    {% endif %}
</p>
        
{% endblock %}