{% extends "layout.html" %}
  
{% block body %}

<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="row">{{ user.username }}</th>
          <th scope="row"></th>
          <th scope="row"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Liittynyt: </td>
            <td>{{ user.joined.strftime('%d.%m.%Y') }}</td>
        </tr>
        <tr>
            <td>Viestejä:</td>
            <td>{{ user.total_number_of_messages(user.id) }}</td>
        </tr>
        <tr>
            <td>Ylläpitäjän oikeudet: </td>
            <td>
                {% if user.is_admin == True %} kyllä {% endif %}
                {% if user.is_admin == False %} ei {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {% if user.is_admin == True and current_user.is_admin == True %}
                    <a href="{{ url_for('user_change_admin_status', user_id=user.id) }}">ota ylläpito-oikeudet pois</a>
                {% endif %}
                {% if user.is_admin == False and current_user.is_admin == True %}
                    <a href="{{ url_for('user_change_admin_status', user_id=user.id) }}">tee käyttäjästä ylläpitäjä</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {% if current_user.is_admin == True %} 
                <a href="{{ url_for('users_delete', user_id=user.id) }}">poista käyttäjätunnus</a>
                {% endif %}
            </td>
        </tr>
       
    </tbody>
</table>
{% endblock %}